@model RentRight.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - RentRight</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentRight.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form asp-action="SignUp" class="signUpForm">
                <h1>Sign Up</h1>
                <input type="text" placeholder="First Name" asp-for="FirstName" required>
                <input type="text" placeholder="Last Name" asp-for="LastName" required>
                <input type="email" placeholder="Email" asp-for="Email" required>
                <input type="password" id="passwordSignUp" placeholder="Password" asp-for="Password" required>
                <i class="eyeSignUp fas fa-eye togglePasswordSignUp"></i>
                <input type="password" id="passwordConfirmSignUp" placeholder="Confirm Password" name="confirmPassword" required>
                <i class="eyeSignUpConfirm fas fa-eye togglePasswordConfirmSignUp"></i>
                <button type="submit">Sign Up</button>
            </form>
        </div>
        

        <div class="form-container sign-in">
            <form asp-action="Login" class="loginForm">
                <h1>Log In</h1>
                <input type="email" placeholder="Email" asp-for="Email" required>
                <input type="password" id="password" placeholder="Password" asp-for="Password" required>
                <i class="eye fas fa-eye togglePassword"></i>
                <button type="submit">Log In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Discover the perfect apartment for you! Sign up now and start exploring a variety of available rental options on our platform.</p>
                    <button class="hidden" id="login">Already have an account? Log In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Welcome!</h1>
                    <p>Discover the perfect apartment for you! Log in now and start exploring a variety of available rental options on our platform.</p>
                    <button class="hidden" id="register">No account yet? Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>

    <script>
        let showLoginForm = @(ViewBag.ShowLoginForm ? "true" : "false");
        let errorMessage = "@(ViewBag.ErrorMessage)";
        if (!showLoginForm) {
            $('#container').addClass("active");
            $('.loginForm').hide();
        }
        console.log(errorMessage);

        if (errorMessage !== "") {
            Swal.fire({
                scrollbarPadding: false,
                heightAuto: false,
                icon: "error",
                title: "Oops...",
                text: errorMessage,
            });
        }
    </script>
</body>
</html>
