.btnCreate, .btnSearch {
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 15px;
    font-weight: bold;
}

    .btnCreate:hover, .btnSearch:hover {
        border: 1px solid #444444;
    }

.search {
    border: none;
    background: #D9D9D9;
    border-radius: 5px;
    padding: 5px 15px;
    width: 30vw;
}

p {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card {
    cursor: pointer;
}

.card:hover {
    border: 2px solid #6d85bc;    
}

a{
    text-decoration: none;
    color: #444444;
}

    a:hover {
        color: #444444;
    }

.btnEdit {
    background-color: #D9D9D9;
    color: #444444;
    border-radius: 5px;
    width: fit-content;
    margin-top: 12px;
    padding: 3px 10px;
}

.btnEdit:hover{
    border: 2px solid #6d85bc;
}

.btnSave {
    border: none;
    border-radius: 5px;
    width: 100%;
    background: #6d85bc;
    color: white;
    font-weight: bold;
    padding: 8px 5px;
}
.btnSave:hover{
    transform: scale(1.01);
}

.btnDelete, .btnDeleteApartment {
    width: 40%;
    text-decoration: none;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    padding: 5px 0px;
    text-align: center;
}

    .btnDelete:hover, .btnDeleteApartment:hover {
        color: red;
        border: 2px solid red;
        cursor: pointer;
    }