@model RentRight.Models.Apartment
@using RentRight.Models.Enums

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/apartments.css" asp-append-version="true" />

<h1>Create an apartment</h1>

<div class="row d-flex justify-content-center mt-5">
    <div class="col-md-6">
        <form asp-action="Create" class="d-flex flex-column justify-content-center align-items-center" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="PropertyId" type="hidden" value=@ViewBag.PropertyId />
            <div class="form-group w-100">
                <label asp-for="PhotoFile" class="control-label"></label>
                <input asp-for="PhotoFile" type="file" class="form-control" required />
                <span asp-validation-for="PhotoFile" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3 col-12">
                <input asp-for="Number" type="number" class="form-control" required placeholder="Number"/>
                <label asp-for="Number" class="control-label"></label>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>

            <div class="w-100 d-flex justify-content-between">
                <div class="form-floating mt-3 col-5">
                    <input asp-for="Bedrooms" type="number" class="form-control" required placeholder="Bedrooms"/>
                    <label asp-for="Bedrooms" class="control-label"></label>
                    <span asp-validation-for="Bedrooms" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3 col-5">
                    <input asp-for="Bathrooms" type="number" class="form-control" required placeholder="Bathrooms"/>
                    <label asp-for="Bathrooms" class="control-label"></label>
                    <span asp-validation-for="Bathrooms" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-between">
                <div class="form-check form-switch mt-3 col-5 align-self-center">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Pets" /> @Html.DisplayNameFor(model => model.Pets)
                    </label>
                    <span asp-validation-for="Pets" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3 col-5">
                    <input asp-for="Size" type="number" class="form-control" required placeholder="Size" />
                    <label asp-for="Size" class="control-label"></label>
                    <span asp-validation-for="Size" class="text-danger"></span>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-between">
                <div class="form-floating mt-3 col-5">
                    <input asp-for="RentPrice" type="number" class="form-control" required placeholder="Rent Price"/>
                    <label asp-for="RentPrice" class="control-label"></label>
                    <span asp-validation-for="RentPrice" class="text-danger"></span>
                </div>
                <div class="form-floating mt-3 col-5">
                    <select asp-for="Status" class="form-control">
                        @foreach (var status in Enum.GetValues(typeof(ApartmentStatus)))
                        {
                            <option value="@status">@status</option>
                        }
                    </select>
                    <label asp-for="Status" class="control-label"></label>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group mt-5 w-100">
                <input type="submit" value="Save" class="btnSave" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
