@using System.Security.Claims;
@using RentRight.Models.Enums;
@{
    var fullName = User.FindFirstValue(ClaimTypes.Name);
    var type = User.FindFirstValue(ClaimTypes.Role);
    var userId = int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RentRight</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify/dist/simple-notify.css">
    <script src="https://cdn.jsdelivr.net/npm/simple-notify/dist/simple-notify.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RentRight.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/icon.png" type="image/x-icon" />
</head>
<body>
    <div class="container-fluid overflow-hidden">
        <div class="row g-0 vh-100 overflow-auto">
            <div class="col-2 col-sm-3 col-xl-2 d-flex fixed-top text-white menubar">
                <div class="d-flex flex-column flex-grow-1 align-items-center align-items-sm-start px-2 px-sm-3 py-2 text-white vh-100 overflow-auto">
                    <div class="mt-2 col-12">
                        <p class="px-3 nameUser">@fullName</p>
                         <hr />
                    </div>
                   
                    <ul class="nav nav-pills px-3 flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item mt-2">
                            <a asp-controller="Home" asp-action="Index" class="nav-link px-sm-0 px-2 text-white text-decoration-none">
                                <i class="fas fa-home"></i><span class="ms-3 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a asp-controller="Users" asp-action="Edit" asp-route-id=@userId class="nav-link px-sm-0 px-2 text-white text-decoration-none">
                                <i class="fas fa-user"></i><span class="ms-3 d-none d-sm-inline">My Profile</span>
                            </a>
                        </li>

                        @if (type == TypeUsers.Owner.ToString())
                        {
                            <li class="nav-item mt-2">
                                <a asp-controller="Users" asp-action="Index" class="nav-link px-sm-0 px-2 text-white text-decoration-none">
                                    <i class="fas fa-users"></i><span class="ms-3 d-none d-sm-inline">Users</span>
                                </a>
                            </li>
                        }
                        <li class="nav-item mt-2">
                            <a asp-controller="Messages" asp-action="Index" class="nav-link px-sm-0 px-2 text-white text-decoration-none">
                                <i class="fas fa-envelope"></i><span class="ms-3 d-none d-sm-inline">Messages</span>
                            </a>
                        </li>
                        @if (type == TypeUsers.Manager.ToString() || type == TypeUsers.Tenant.ToString())
                        {
                            <li class="nav-item mt-2">
                                <a asp-controller="Appointments" asp-action="Index" class="nav-link px-sm-0 px-2 text-white text-decoration-none">
                                    <i class="fas fa-calendar-day"></i><span class="ms-3 d-none d-sm-inline">Appointments</span>
                                </a>
                            </li>
                        }
                        @if (type == TypeUsers.Manager.ToString() || type == TypeUsers.Owner.ToString())
                        {
                            <li class="nav-item mt-2">
                                <a asp-controller="Rentals" asp-action="Index" class="nav-link px-sm-0 px-2 text-white text-decoration-none">
                                    <i class="fas fa-file-contract"></i><span class="ms-3 d-none d-sm-inline">Rentals</span>
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="py-sm-4 mt-sm-auto ms-auto ms-sm-0 mb-4 flex-shrink-1 px-3">
                        <a asp-controller="Account" asp-action="Logout" class="d-flex align-items-center text-white text-decoration-none">
                            <i class="fas fa-power-off"></i><span class="ms-3 d-none d-sm-inline">Log out</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-10 offset-2 d-flex flex-column h-sm-100">
                <main role="main" class="row overflow-hidden mainContent">
                    @RenderBody()
                </main>

                <footer class="row bg-light py-4 mt-auto border-top text-muted">
                    <div class="d-flex align-items-center justify-content-center">
                        <span class="mt-1">&copy; 2024 -</span>
                        <img src="~/images/logo-nobg.png" width="auto" height="40" />
                    </div> 
                </footer>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
